<!DOCTYPE html>
<html>
<head>
	<title>{{ project.name }} - Edit project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<!-- Datepicker JS and CSS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
</head>
<body>
	<div class="container">
		{% include "projectlab/navbar.html" %}
		<div class="row">
			<div class="col-md-6">
				<h1>Edit project</h1>
				<a href="{% url 'projectlab:view_project' acc=user.usr.username proj_id=project.id %}"><p>{{ project.name }}</p></a>
				<p><i class="far fa-user"></i> {{ user.usr.username }}</p>
				<form id="edit_project_form" method="put">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="project_name" class="form-control" value="{{ project.name }}">
					</div>
					<div class="form-group">
		                <input id="datepicker" name="deadline" type="text" class="form-control" value="{{ deadline }}" readonly />
		            </div>
		            <br>
					<input type="submit" class="btn btn-success" value="Update">
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">

	$("#datepicker").datepicker({format: 'dd/mm/yyyy'});

	function getCookie(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        const cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            const cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	const csrftoken = getCookie('csrftoken');

	document.getElementById('edit_project_form').addEventListener('submit', function (event) {

		event.preventDefault();

		if (document.getElementsByName('project_name')[0].value != "") {

			date_split = document.getElementsByName('deadline')[0].value.split("/");
			if (new Date(parseInt(date_split[2]),
				parseInt(date_split[1]) - 1,
				parseInt(date_split[0]),0,0,0,0).getTime() < new Date().getTime()) {

				alert("The deadline you've set cannot be in the past or today.");

			} else if (confirm("Confirm project name and deadline:\n" + document.getElementsByName('project_name')[0].value + "\n" + document.getElementsByName('deadline')[0].value)) {

				var data = "username={{ user.usr.username }}&project_id={{ project.id }}&project_name=" + document.getElementsByName('project_name')[0].value + "&deadline=" + document.getElementsByName('deadline')[0].value;

				var req = new XMLHttpRequest();
				req.open("PUT", "{% url 'projectlab:update_project' %}");
				req.setRequestHeader('X-CSRFToken', csrftoken);
				req.onreadystatechange = function () {

					if (this.readyState == 4 && this.status == 200) {

						window.location.replace(this.responseText);

					} else if (this.readyState == 4 && this.status == 500) {

						alert(this.responseText);

					}

				};
				req.send(data);

			}

		} else {

			alert("Error editing project details - Please enter a project name.");

		}

	});

</script>
</html>