<div class="modal" id="{{ record.0.id }}">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Files</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        {% for file in record.1 %}
        <div>
          <p style="display: inline;">{{ file }}</p>
          <a class="text-right" href="{{ location|add:'/'|add:record.0.file_path|add:file }}" download><i class="far fa-arrow-alt-circle-down"></i></a>
          <hr>
        </div>
        {% empty %}
        <h2>No files</h2>
        {% endfor %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>